<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:object="${messageForm}" th:action="@{'/animal'}" action="#" method="POST">
        <label for="animalText">Enter an Animal: </label>
        <input th:field="*{animalName}" type="text" id="animalText" name="animalText">
        <label for="adjective">Enter an Adjective:</label>
        <input th:field="*{adjective}" type="text" id="adjective" name="adjective">
        <input type="submit">
    </form>
    <h1 th:unless="${#lists.size(messages) > 5}" th:each="msg : ${messages}" th:text="${msg}">stuff</h1>
    <h1 th:if="${#lists.size(messages) > 5}">I think that's enough!</h1>
</body>
</html>